<div class="modal-backdrop fade show"></div>

<div class="modal d-block">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-4">

      <div class="modal-body" [formGroup]="form">
        <div class="row mb-3">
          <div class="col-3 fw-semibold">ชื่อ - สกุล</div>
          <div class="col-4">
            <input class="form-control" 
              formControlName="firstName"
              [class.is-invalid]="f.firstName.touched && f.firstName.invalid"
              >
              @if (f.firstName.touched && f.firstName.invalid) {
                <div class="invalid-feedback">
                  กรุณากรอกชื่อ
                </div>
              }
          </div>
          <div class="col-4">
            <input class="form-control" 
              formControlName="lastName"
              [class.is-invalid]="f.lastName.touched && f.lastName.invalid"
            >
            @if (f.lastName.touched && f.lastName.invalid) {
              <div class="invalid-feedback">
                กรุณากรอกนามสกุล
              </div>
            }
          </div>
        </div>

        <div class="row mb-3">
        <div class="col-3 fw-semibold">วันเกิด</div>

        <div class="col-4">

          @if (mode === 'add') {
           <app-date-picker
            formControlName="birthDate">
           </app-date-picker>
            @if (f.birthDate.touched && f.birthDate.invalid) {
              <div class="invalid-feedback d-block">
                กรุณาเลือกวันเกิด
              </div>
            }
          }
          
          @if (mode === 'view') {
            @if (form.get('birthDate')?.value) {
              <input type="text" class="form-control mt-1" [value]="form.get('birthDate')?.value | date:'dd/MM/yyyy'" disabled />
            }
          }

        </div>
          </div>
          <div class="row mb-3">
          <div class="col-3 fw-semibold">อายุ</div>
          <div class="col-4">
              @if (form.get('birthDate')?.value) {
                {{ form.get('birthDate')?.value | age }} ปี
              } @else {
                -
              }
          </div>
        </div>

        <div class="row">
          <div class="col-3 fw-semibold">ที่อยู่</div>
          <div class="col-8">
            <textarea rows="4" 
              class="form-control" 
              formControlName="address">
              [class.is-invalid]="f.address.touched && f.address.invalid">
            </textarea>
            @if (f.address.touched && f.address.invalid) {
              <div class="invalid-feedback">
                กรุณากรอกที่อยู่
              </div>
            }
          </div>
        </div>

      </div>

      <div class="modal-footer">
        @if (mode === 'add') {
          <button class="btn btn-primary" (click)="submit()">บันทึก</button>
          <button class="btn btn-danger" (click)="close.emit()">ยกเลิก</button>
        }

        @if (mode === 'view') {
          <button class="btn btn-danger" (click)="close.emit()">ปิด</button>
        }
      </div>

    </div>
  </div>
</div>